header {
    text-align: center;
}

header h1 {
    background-color: midnightblue;
    color: white;
    padding: 10px;
}

.projects-container {
    display: flex;
    align-content: center;
}

a {
    display: block;
    background-color: lightgray;
    padding: 20px;
    margin-bottom: 10px;
}